.Weather {
  background: linear-gradient(
    109.6deg,
    rgb(17, 151, 147) 11.2%,
    rgb(154, 214, 212) 55.4%,
    rgb(255, 233, 171) 100.2%
  );

  border: 1 px solid purple;
  margin: 0 auto;
  padding: 10px;
  max-width: 50%;
}
.Weather h1 {
  margin: 0 auto;
}

.Weather a {
  font-size: 10px;
}

.Weather footer {
  text-align: center;
}
.Weather li {
  list-style: none;
}
